body
{
    background: #F6F6F6;
}

main
{
    display: flex;
    flex-direction: column;
    background:white;
    margin-top: 100px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;

}


button
{
    cursor: pointer;
}

main h1
{
    font-family: Gilroy;
    color: black;
    font-size: 154px;
    text-align:center;
    text-shadow: 0 0 10px #F1BC00;
    padding-top: 80px;
}


.slider{
  width:900px;
  height:500px;
  margin:50px auto;
  border:3px solid #F1BC00;
  overflow:hidden;
  border-radius: 15px;
}
.slides{
  width:400%;
  height:100%;
  animation:slide 4s infinite;

}

.slides:hover
{
    animation-play-state:paused;
}

.slide-info
{

    padding: 20px;
    width: 894px;
    height: 130px;
    
    background-color:rgba(241, 189, 0, 0.3);
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity:0.9;
    z-index:0;


}
.bg-slider
{
    width: 894px;
    height: 130px;
    position: absolute;
    background-color:#F1BC00;
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity:0.9;
    z-index:0;

}

.slide-info h3
{
    font-family: Gilroy;
    color: navy;
    font-size: 32px;
    z-index: 6;
}

.slide-info p
{
    font-family: Gilroy;
    font-weight: bold;
    color: blue;
    font-size: 22px;
    z-index: 6;
}


#slider-1, #slider-2, #slider-3, #slider-4{
  width:25%;
  height:100%;
  float:left;
  background-repeat: no-repeat;
  background-size: 100%;
}

#slider-1{
  background-image:url("image.jpg");
}
#slider-2{
  background-image:url("image.jpg");
}
#slider-3{
  background-image:url("image.jpg");
}
#slider-4{
  background-image:url("image.jpg");
}

@keyframes slide{
  0%,100% {
        margin-left:0%;
    }

    12% {
        margin-left:0%;
    }

    24% {
        margin-left:-100%;
    }

    36% {
        margin-left:-100%;
    }

    48% {
        margin-left:-200%;
    }

    60% {
        margin-left:-200%;
    }

    72% {
        margin-left:-300%;
    }

    84% {
        margin-left:-300%;
    }
}