* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	font-family: 'Duck Footprint';
	font-weight: 400;
	font-size: 30px;
}
body *{
	font-family: 'Duck Footprint';
}
.content {
	padding: 120px 5% 100px 5%;
	min-height: calc(100vh - 100px);
}
.content>h1 {
	color: rgb(11, 111, 136);
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 40px;
	text-transform: uppercase;
	text-decoration: underline dotted;
}
.content>h2 {
	margin-top: 70px;
	margin-bottom: 20px;
	font-size: 36px;
}
.content>p {
	margin-bottom: 10px;
}

.logo p {
	display: inline-block;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.logo img {
	position: absolute;
	width: 80px;
}

.menu {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 5% 10px 5%;
	font-size: 40px;
	z-index: 10;
}
.menu>ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.menu>ul>li {
	padding: 10px 20px 10px 20px;
	text-align: center;
	/* cursor: pointer; */
	background-image: url("../style/images/button-background.png");
	background-size: 0% 50%;
	background-repeat: no-repeat;
	background-position: left center;
}
.menu>ul>li:hover {
	background-size: 100% 50%;
	transition: .5s;
}
.menu a {
	text-decoration: none;
	color: #000;
}
.submenu {
	list-style-type: none;
	padding: 10px 20px 10px 20px;
	position: absolute;
	margin-top: 60px;
	margin-left: 100px;
	font-size: 30px;
	background-color:rgba(205, 141, 97, 0.95);
	border: 2px dashed #000;
	display: none;
}
.menu>ul>li:hover+.submenu {
	display: block;
}
.submenu:hover {
	display: block;
}
.submenu>li>a {
	width: max-content;
	background-image: url("../style/images/button-background-2.png");
	background-size: 0% 60%;
	background-repeat: no-repeat;
	background-position: left center;
}
.submenu>li>a:hover {
	background-size: 100% 60%;
	transition: .5s;
}


.toggle-menu {
	display: none;
	cursor: pointer;
	float: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
.toggle-menu img {
	display: block;
	width: 36px;
	height: auto;
	margin: 5px 0;
	transition: 0.4s;
}
.change .bar1 {
	transform: rotate(-45deg) translate(-10px, 8px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

.footer {
	padding: 20px 5% 20px 5%;
	background-color: rgb(247, 203, 91);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content:space-between;
	gap: 20px;
}
.footer a {
	text-decoration: none;
	color: #000;
}
.footer>ul {
	list-style-type: none;
	font-weight: bold;
}
.footer>ul>li::before {
	content: "• ";
}
.footer>ul>li>a {
	width: max-content;
	background-image: url("../style/images/button-background-2.png");
	background-size: 0% 70%;
	background-repeat: no-repeat;
	background-position: left center;
}
.footer>ul>li>a:hover {
	background-size: 100% 70%;
	transition: .5s;
}
.social_networks>a {
	display: inline-block;
	height: 60px;
	width: 60px;
	padding: 5px;
	background-image: url("../style/images/button-background-3-empty.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: left center;
	transition: .5s;
}
.social_networks a:hover {
	background-image: url("../style/images/button-background-3.png");
}
.social_networks>a>img {
	width: 100%;
}


@media (min-width: 960px) {
	.menu>ul {
		display: flex !important;
	}
}
@media (max-width: 960px) {
	.menu {
		flex-direction: column;
		font-size: 34px;
	}
	.menu>ul {
		margin-top: 10px;
		flex-direction: column;
		display: none;
	}
	.menu>ul>li {
		width: max-content;
	}
	.toggle-menu {
		display: inline-block;
	}
	.logo {
		display: inline-block;
	}
	.submenu {
		position: relative;
		margin: 0;
	}
	.social_networks>a {
		height: 50px;
		width: 50px;
	}
}

/* Home page */
.slider {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
}
.slider_images {
	height: 100%;
	width: 100%;
	position: absolute;
}
.slider_image {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition-delay: 1s;
}
.slider_text {
	position: absolute;
	z-index: 4;
	bottom: 50px;
	left: 20px;
	font-size: 24px;
	font-weight: 400;
	width: 40%;
	display: none;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	/* color: #000; */
}
.slider_text h1 {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 5px;
}
.triangle_background {
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 500px solid transparent;
	border-left: 60vw solid rgba(205, 141, 97, 0.8);
}
.slider input {
	display: none;
}
.slider_dots {
	position: absolute;
	z-index: 5;
	bottom: 10px;
	left: 20px;
}
.slider_dots label {
	cursor: pointer;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50px;
    border: 2px solid #000;
	margin: 1px;
}
.slider_dot:checked + .slider_image {
	left: 0;
	z-index: 2;
	transition: left 0.5s ease-out;
}
.slider_dot:checked + .slider_image + .slider_text{
	display: block;
	animation: change_text_slider 0.5s ease;
}
@keyframes change_text_slider {
	0% {
		bottom: -100px;
	}
	100% {
		bottom: 50px;
	}
}
@media (max-width: 550px) {
	.triangle_background {
		width: 100%;
		height: 50%;
		border-top: 0;
		border-left: 0;
		background: rgba(134, 44, 44, 0.712);
	}
	.slider_text {
		width: calc(100% - 40px);
	}
}

#sale_timer_container {
	margin-top: 50px;
	background-color: rgb(31, 26, 20);
	border-radius: 4px;
	justify-content: center;
	/* width: 100%; */
	padding: 20px 10px 20px 10px;
	color:rgb(232, 64, 108);
	text-align: center;	
}

#sale_timer_container * {
	transition: 0.2s linear;
}

#sale_timer_container h1 {
	font-size: 40px;
}
#sale_timer_container p {
	color: #fff;
	margin-top: 10px;
	margin-bottom: 30px;
}
#sale_timer {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#sale_timer div {
	display: flex;
	flex-direction: column;
}
#sale_timer span {
	font-size: 50px;
}
#sale_timer_container h1:hover {
	color: #fff;
}
#sale_timer_container p:hover {
	color:rgb(232, 64, 108);
}
#sale_timer div:hover {
	color: #fff;
}
@media(max-width: 450px) {
	#sale_timer {
		flex-direction: column;
		align-items: center;
		font-size: 30px;
	}
	#sale_timer div {
		flex-direction: row;
		align-items: baseline;
		gap: 10px;
	}
	#sale_timer span {
		font-size: 30px;
	}
}

/* End of Home page */

/* Catalog */
.catalog_gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
@media (max-width: 1200px) {
	.catalog_gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 1000px) {
	.catalog_gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 650px) {
	.catalog_gallery {
		grid-template-columns: 1fr;
	}
}

.product_card {
	background-color: rgb(204, 190, 177);
	transition: 1s;
	text-align: center;
	border-radius: 4px;
	padding: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;
	cursor: pointer;
}
.product_card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 100%;
	transition: 1s;
}
.product_card .product_name {
	font-size: 26px;
	font-weight: bold;
	display: block;
}
.product_card .product_price {
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
	display: block;
	
}
.product_card_full_img .product_name {
	display: none;
}
.product_card_full_img .product_price {
	display: none;
}
.product_card_full_img img {
	border-radius: 4px;
	width: 100%;
	height: 100%;
}

#search_area_container {
	background-color: #fff;
	border: 2px dashed #000;
	border-radius: 40px;
	width: min-content;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	transition: 1s;
	float: right;
}
#search_area_container:hover {
	background-color: rgb(247, 203, 91);
}
#search_area {
	padding: 7px;
	width: 100%;
	border: none;
	font-size: 26px;
	font-weight: bold;
	display: none;
	outline: none;
}
.loupe {
	height:40px;
	width:40px;
	display:block;
	position:relative;
	margin:5px;
	cursor: pointer;
}
.cross {
	width:36px;
	height:32px;
	position:relative;
	margin-left:5px;
	margin-right:5px;
	margin-top: auto;
	vertical-align: middle;
	display: none;
	cursor: pointer;
}
.cross:before, .cross:after{
	content:'';
	position:absolute;
	background-size: 100% 100%;
    width: 36px;
    height: 8px;
	top: 3px;
}
.cross:before{
	background-image: url("../style/images/toggle-menu-1.png");
	transform:rotate(45deg);
	left:1px;
}
.cross:after{
	background-image: url("../style/images/toggle-menu-3.png");
	transform:rotate(-45deg);
}
/* End of Catalog */

/* Contact */
.contact_flex {
	margin-top: 70px;
	display: grid;
	grid-template-columns: 40% 60%;
	gap: 30px;
}
@media (max-width: 950px) {
	.contact_flex {
		grid-template-columns: 50% 50%;
	}
}
@media (max-width: 750px) {
	.contact_flex {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}
#contact_form {
	background-color: rgb(204, 190, 177);
	border-radius: 4px;
	padding: 10px;
}
#contact_form * {
	font-size: 28px;
}
#contact_form h1 {
	margin-top: 20px;
	margin-bottom: 30px;
}
#contact_form p {
	margin-top: 20px;
}
#contact_form input {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: none;
	margin-top: 5px;
	margin-bottom: 5px;
}
#contact_form textarea {
	max-width: 100%;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: none;
	margin-top: 5px;
	margin-bottom: 5px;
}
#contact_form>form>button {
	background-color: rgb(216, 154, 92);
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 5px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
#contact_form>form>button:hover {
	background-color: rgb(194, 137, 80);
}
#contact_form>form>button:disabled {
	background-color: rgb(182, 182, 182);
	color: #000;
}
@keyframes shake {
	0% {
		box-shadow: 3px 5px 0 rgb(119, 3, 0);
		transform: translateX(-10px);
	}
	25% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(10px);
	}
}

#captcha {
	background-color: rgb(187, 174, 162);
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px;
}
#captcha>div {
	margin-top: 15px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
}
#captcha_text {
	background-image: url("../style/images/captcha.jpg");
	background-size: 100%;
	text-align: center;
	vertical-align: bottom;
	width: calc(100% - 50px);
	color: #fff;
	text-shadow: 0px 0px 2px #000;
	font-size: 32px;
	border-radius: 4px;
}
#reload_captcha_btn {
	background-color: rgb(13, 131, 162);
	background-image: url("../style/images/reload.png");
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: center center;
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	cursor: pointer;
}
#reload_captcha_btn:hover {
	background-color: rgb(11, 111, 136);
}
#captcha input {
	padding: 10px;
	margin: 0;
	border: none;
	border-radius: 4px;
	width: 100%;
}
#check_captcha_btn {
	display: none;
	background-color: rgb(245, 209, 51);
	border: none;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}
#check_captcha_btn:hover {
	background-color: rgb(218, 184, 34);
}
.captcha_message {
	display: none;
}
.wrong {
	color: rgb(119, 3, 0);
}
.correct {
	color: rgb(11, 111, 136);
}

.contact_list {
	list-style-type: none;
	font-weight: bold;
	color: rgb(11, 111, 136);
}
.contact_list a {
	text-decoration: none;
	font-weight: 400;
	color: #000;
}
.contact_list li {
	margin-top: 10px;
}
.contact_list>li::before {
	content: "• ";
}
.contact_list a:hover {
	color: rgb(11, 111, 136);
}

/* End of Contact */

/* Product Description */
#modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: flex;
	overflow-y: scroll;
	display: none;
}

#modal-background {
	position: fixed;
	z-index: 19;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

#product_description {
	background-color: rgb(204, 190, 177);
	border-radius: 4px;
	padding: 30px;
	z-index: 20;
	width: 100%;
	height: max-content;
	margin: 20px 5% 20px 5%;
}
#product_description>p {
	border-bottom: 2px dashed #000;
	margin-top: 40px;
	margin-bottom: 20px;
	color: rgb(11, 111, 136);
}
#flex_product_description {
	display: flex;
	flex-direction: row;
	gap: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}
#product_description_info {
	text-align: center;
	width: 100%;
}
#product_description_info p {
	text-align: left;
}
#product_description span {
	font-weight: 400;
}
#product_description hr {
	background-color: transparent;
	border: none;
	border-top: 2px dashed #000;
	margin-top: 30px;
	margin-bottom: 30px;
}
#product_description_name {
	font-size: 40px;
	font-weight: 500;
}

#product_description_price {
	margin-top: 40px;
	font-size: 40px;
	font-weight: 500;
	color: rgb(11, 111, 136);
	transition: 0.2s;
}
#product_description img {
	max-width: 500px;
	width: 100%;
	float: left;
	border-radius: 4px;
	box-shadow: 0 0 5px rgb(133, 133, 133), -12px -12px 0 1px rgb(247, 203, 91), -12px -12px 3px 1px rgb(133, 133, 133);
	transition: 0.5s;
}
#product_description img:hover {
	box-shadow: 0 0 5px rgb(133, 133, 133), 12px 12px 0 1px rgb(247, 203, 91), 12px 12px 3px 1px rgb(133, 133, 133);
}
#product_description_text {
	display: block;
	float: none;
    clear: both;
}
#flex_product_description * {
	transition: 0.2s;
}
#flex_product_description * :hover {
	color:rgb(11, 111, 136);
}
#product_description_price :hover {
	color:#000;
}

@media (max-width: 1060px) {
	#flex_product_description {
		flex-direction: column-reverse;
		align-items: center;
	}
}
@media (max-width: 560px) {
	#product_description_name {
		font-size: 32px;
	}
	#product_description_price {
		font-size: 32px;
	}
	#product_description {
		padding: 20px;
	}
}

#close_modal_btn {
	width:40px;
	height: 40px;
	position: relative;
	margin-left: auto;
	margin-right: -10px;
	margin-top: -10px;
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: rgb(247, 203, 91);
	cursor: pointer;
}
#close_modal_btn:hover {
	background-color: rgb(219, 174, 58);
}
#close_modal_btn:before, #close_modal_btn:after{
	content:'';
	position:absolute;
	background-size: 100% 100%;
    width: 36px;
    height: 8px;
	top: 16px;
	left: 2px;
}
#close_modal_btn:before{
	background-image: url("../style/images/toggle-menu-1.png");
	transform:rotate(45deg);
}
#close_modal_btn:after{
	background-image: url("../style/images/toggle-menu-3.png");
	transform:rotate(-45deg);
}
/* End of Product Description */

/* Info-Art */
.infoart_container {
	height: max-content;
	margin-bottom: 20px;
}
.infoart_container h1 {
	background-color: rgb(204, 190, 177);
	border-radius: 4px;
	padding: 20px;
	font-size: 36px;
}
.infoart_container h1:hover {
	background-color: rgb(245, 209, 51);
	cursor: pointer;
}
.infoart_container>div {
	background-color: rgb(204, 190, 177);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 20px;
	height: max-content;
	display: none;
}
.infoart_container>div::after {
	clear:both;
	content: "";
	display: block;
}
.infoart_container p {
	margin-top: 20px;
}
.infoart_container>div>img {
	width: 100%;
	/* margin-top: 30px; */
	margin-bottom: 20px;
}
.infoart_container>div>img~img {
	max-width: 400px;
	float: right;
	margin: 5px;
}
/* End of Info-Art */

/* Glass Button */
.glassButton {
	display: block;
	text-decoration: none;
    width: 100%;
	padding: 20px 30px 20px 30px;
	margin-top: 20px;
	font-weight: 500;
	border-radius: 4px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(120, 3, 0);
	border: 4px solid rgb(120, 3, 0);
	padding: 16px 26px 16px 26px;
	/* transition: 1s ease; */
	position: relative;
	overflow: hidden;
	border-image-slice: 1;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), inset 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.glassButton:hover {
    animation: draw_border 1s ease-in;
    border: 4px solid rgb(245, 209, 51);
}
.glassButton:after {
	animation: shine 3s ease-in-out infinite;
	content: "";
	position: absolute;
	/* left: -4px; */
	top: 110%;
	left: -200%;
	width: calc(200% + 8px);
	height: 200%;
	transform: rotate(30deg);
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
	  to top , 
	  rgba(255, 255, 255, 0.0) 5%,
	  rgba(255, 255, 255, 0.5) 50%,
	  rgba(255, 255, 255, 0.0) 95%
	);
}
@keyframes shine {
	100% {
		top: -120%;
		left: 120%;
		transition-property: left, top;
		transition-duration: 0.5s, 0.15s;
		transition-timing-function: ease;
	}
}
@keyframes draw_border {
	0% {
		border: 4px solid transparen;
	}
	10% {
		border-image: linear-gradient(to left top,
		rgb(245, 209, 51) 0%, 
		rgb(120, 3, 0) 20%,
		rgb(120, 3, 0) 80%,
		rgb(245, 209, 51) 100%);
		border-image-slice: 1;
	}
	30% {
		border-image: linear-gradient(to left top,
		rgb(245, 209, 51) 0%, 
		rgb(120, 3, 0) 30%,
		rgb(120, 3, 0) 70%,
		rgb(245, 209, 51) 100%);
		border-image-slice: 1;
	}
	100% {
		border-image: linear-gradient(to left top,
		rgb(245, 209, 51), rgb(245, 209, 51));
		border-image-slice: 1;
	}
}
/* End of Glass Button */


@font-face {
	font-family: 'Duck Footprint'; 
	src: url("./fonts/Duck Footprint Light.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 200; 
}
@font-face {
	font-family: 'Duck Footprint'; 
	src: url("./fonts/Duck Footprint Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 300; 
}
@font-face {
	font-family: 'Duck Footprint'; 
	src: url("./fonts/Duck Footprint Semi Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400; 
}
@font-face {
	font-family: 'Duck Footprint'; 
	src: url("./fonts/Duck Footprint Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 500; 
}
